{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/CSS.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/CSS.css' %}"> -->
    <title>Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    </style>
    <link rel="shortcut icon" href="#"/ >
</head>
<body>
    <p><a href = "{% url 'logout' %}"><button type="button" style="margin: 20px; clear: both;" class="btn btn-primary float-right">logout</button></a></p>
    <div class="panel panel-default" style="clear: both;">
        <div class="panel-body menu-header">
            CONTACT DETAILS
        </div>
    </div>
    <form method = "POST">
        {% csrf_token %}
        <div class = 'container'>
            <div class="form-group"></div>
                {{person}}
                <button class = 'btn btn-success dish_adder_submit' type="submit" name="DishAdderButton">
                    Add
                </button>
            </div>    
        </div>
    </form>
</body>
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "POST">
        {% csrf_token %}
        {{person}}
        <input type = "submit" name = "Submit">
    </form>
</body>
</html> -->